<h1>Enter your names to begin the fight...</h1>
<form action="/names" method="post">
  <div>
    <label for="name">Player 1:<br></label>
    <input type="text" id="name" name="player_1_name">
  </div>
  <br>
  <div>
    <label for="name">Player 2:<br></label>
    <input type="text" id="name" name="player_2_name">
  <input type="submit" value="Submit">
  </div>
</form>
